/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

/* ROOT */

:root {
    --font: 'Walter Turncoat', cursive;
    --title-font-size: 2.3rem;
    --subtitle-font-size: 1.8rem;
    --paragraph-font-size: 1.3rem;
    --font-size-smaller: 0.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    margin: 10px auto;
    flex-direction: column;
    align-items: center;
}

.logo-name {
    font-family: "Lato", sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 21.1px;
}

.uk-usa-flag {
    width: 300px;
    margin-bottom: 50px;
}

.how-you-doing {
    width: 120px;
    margin: 0 37px 0 0px;
}

.me-computer {
    width: 250px;
    margin-bottom: 20px;
}

h1 {
    font-family: var(--font);
    font-size: var(--title-font-size);
}
    
h2 {
    font-family: var(--font);
    font-size: var(--subtitle-font-size);
}

p {
    font-family: var(--font);
    font-size: var(--paragraph-font-size);
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.container-white {
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 3px;
}

.container-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.container-icon-size {
    width: 100px;
}

.container-icon-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-align {
    display: flex;
    gap: 10px
}

.icon-size {
    width: 30px;
}

.sobre-align {
    margin: 20px 0 20px 0;
    display: flex;
    gap: 30px
}

.sobre-tam {
    width: 118px;
    height: 118px;
}

.container-preco {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

@media (max-width: 600px) {

    .container-icon {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0 80px 0 80px;
    }

    .sobre-align {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}

}